{% extends 'base.html' %}

{% block content %}
    <p>MECZE ROZEGRANE:</p>
    {% for match in matches_played %}
        {% if user.isinst == 'referee' and not match.status %}
            <a href="{% url 'matches:post_score' match.id %}">{{ match }}</a>
            <br>
        {% else %}
            <a href="{% url 'matches:match_detail' match.id %}">{{ match }}</a>
            <br>
        {% endif %}
    {% endfor %}
    <br>
    <p>MECZE NADCHODZĄCE:</p>
    {% for match in matches_upcoming %}
        {{ match }}
        <br>
    {% endfor %}
{% endblock %}