{% extends 'base.html' %}

{% block content %}
    <div class="d-flex gap-4 container-team">
    {% for team in teams %}
        <div class="card p-5 ">
            <a class="fw-bold text-decoration-none text-black d-flex flex-column text-center" href="{{ team.get_absolute_url }}">{{ team }}<img src="{{ team.image.url }}" alt="" style="width:150px;height:150px"></a>
    {#        <img src="{{ team.image.url }}" alt="" style="width:150px;height:150px">#}
            <br>
        </div>
    {% endfor %}
    </div>
{% endblock %}