{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid ">
        <div class="text-center table-responsive p-3 bg-dark rounded" style="box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 0px, rgba(0, 0, 0, 0.5) 0px 0px 4px 2px;">
            <table  class="table table-hover table-dark table-curved">
                <thead >
                    <tr style="font-size: 32px">
                        <th scope="col">#</th>
                        <th scope="col">Gracz</th>
                        <th scope="col">Bramki</th>
                        <th scope="col">MOTM</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                            <tr >
                                <td >{{ forloop.counter }}</td>
                                <td ><a class="text-decoration-none fw-bold text-white" href="{{ player.get_absolute_url }}">{{ player }}</a></td>
                                <td >{{ player.get_scored_goals }}</td>
                                <td >{{ player.get_motm }}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}