body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: white;
}
nav{
    position: sticky;
    height: 100vh;
    width: 150px;
    background: linear-gradient(to left top,#1f4037,#99f2c8);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
nav ul{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
}
nav ul li{
    padding:20px 0 20px 0;
    list-style: none;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}
nav ul li img{
    width: 38px;
    height: 38px;
    margin: auto;

}
nav ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    color: white;

}
img{
     transition: 0.3s;
}
img:hover{
    transform: scale(1.2);
}
a:hover{
    color: white;
}
.user{
    padding-top: 50px;
    text-align: center;
}