footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
footer ul{
    font-size: 1.2rem;
    width: calc(100% - 8rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
footer ul li {
    position: relative;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    height: 100%;
    border-bottom: 2px solid white;
    transition: 0.5s;
}
footer ul li a:hover::before{
    width: 100%;
}
footer ul li a:hover{
    color: white;
}