.card{
    background-color: #212529;
    color:white;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 0px, rgba(0, 0, 0, 0.5) 0px 0px 4px 2px;
    transition: 1s;
}
.container-team:hover>:not(:hover) {
    opacity: 0.4;
    transform: scale(0.9);
}