<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PlayArena{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carme&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'body.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body >
    <nav>
        <input type="checkbox" id="check" class="check" />
        <label for="check" class="menu_btn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </label>
        <nav class="drop_down_menu">
            <ul>
                {% if user.is_authenticated %}
                      <li style="border-bottom: solid 2px white"><a href="{% url 'home' %}">Welcome {{user}}</a></li>
                {% endif %}
                <li><a href="{% url 'teams:teams' %}"> Drużyny</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'messages:my_messages' %}">Wiadomości</a></li>
                {% endif %}
                <li><a href="{% url 'matches:all_matches' %}">Mecze</a></li>
                <li><a href="{% url 'users:player_ranking' %}">Najlepsi zawodnicy</a></li>
                <li><a href="{% url 'teams:table' %}">Tabela</a></li>
                <li><a href="{% url 'users:best_of_all' %}">Nagrody</a></li>
                {% if user.isinst == 'player' %}
                    {% if user.player.team == None %}
                <li> <a href="{% url 'teams:team_register' %}">Załóż drużynę</a></li>
                    {% endif %}
                    {% if user.player.captain %}
                <li><a href="{% url 'messages:send_challenge' %}">Rzuć wyzwanie</a></li>
                    {% endif %}
                {% endif %}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                    {% else %}
                        <li><a href="{% url 'users:login' %}">Zaloguj</a></li>
                    {% endif %}
            </ul>
        </nav>
        <nav class="inline_menu">
            <h1><a href="{% url 'home' %}" style="all: unset; cursor: pointer;">mygames</a></h1>
            <ul>
                <li><a href="{% url 'teams:teams' %}"> Drużyny</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'messages:my_messages' %}">Wiadomości</a></li>
                {% endif %}
                <li><a href="{% url 'matches:all_matches' %}">Mecze</a></li>
                <li><a href="{% url 'users:player_ranking' %}">Najlepsi zawodnicy</a></li>
                <li><a href="{% url 'teams:table' %}">Tabela</a></li>
                <li><a href="{% url 'users:best_of_all' %}">Nagrody</a></li>
                {% if user.isinst == 'player' %}
                    {% if user.player.team == None %}
                <li> <a href="{% url 'teams:team_register' %}">Załóż drużynę</a></li>
                    {% endif %}
                    {% if user.player.captain %}
                <li><a href="{% url 'messages:send_challenge' %}">Rzuć wyzwanie</a></li>
                    {% endif %}
                {% endif %}
                    {% if user.is_authenticated %}
                       <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                    {% else %}
                       <li><a href="{% url 'users:login' %}">Zaloguj</a></li>
                    {% endif %}
            </ul>
        </nav>
    </nav>
    <main class="container-fluid p-0">
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>